{% extends "layouts/base.html" %}

{% block title %} Mining Ledger {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        Mining Ledger
      </div>
      <div class="text-right">
        <small>Updates hourly</small>
      </div>
      <div class="card-body">
        <table id="ledger" class="display" style="width:100%">

        {% for date_group in date_list %}
          {{ date_group[0][0]}}
          <div class="row">
            {% for date_results in date_group %}
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <img src="https://images.evetech.net/types/{{date_results[4]}}/icon">
                <div class="text-center">
                  <h2 class="card-title">{{date_results[1]}}</h2>
                </div>
                <p>{{"{:,}".format(date_results[2])}}</p>
                {{date_results[3]}}
              </div>
            </div>
            {% endfor %}
          </div>  
        {% endfor %}



        </table>

        
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript">
  $(document).ready( function () {
      $('table.display').DataTable( {
         "pageLength": 15
      });
  } );
</script>


  
{% endblock javascripts %}
