SECRET_KEY=SuperSecret
SQLALCHEMY_DATABASE_URI=mysql://username:password@localhost/db_name
ESI_CLIENT_ID=MagicNumbers
ESI_SECRET_KEY=MoreMagicNumbers
ESI_CALLBACK=http://localhost:5000/sso/callback 
ESI_USER_AGENT=Eve Blue Zoo/1.0 (your-email@domain.com)
DISCORD_CLIENT_ID= 
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_BOT_TOKEN=