{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h2 class="card-title">Dashboard</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            
              <!-- Your wallet is currently full of <strong>{{ "$%.2f"|format(wallet.data) }}</strong> ISKs -->
               Characters
            
            <div class="row">
              {% if characters is defined and characters|length > 0 %}

                {% for character in characters %}
                  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://images.evetech.net/characters/{{ character[1] }}/portrait?tenant=tranquility&size=64" alt="Profile Photo">
                      <br>
                      <div class="text-center">
                        <h2 class="card-title"><a href="{{ url_for('home_blueprint.page_character') }}?character_id={{character.character_id}}">{{ character[0] }}</a></h2>
                      </div>
                      SP:<strong>{{ "{:,}".format(character[2]) }}</strong>
                    </div>
                  </div>
                {% endfor %}    
              
              {% else %}
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="font-icon-detail">
                  <div class="text-center">
                    <h2 class="card-title">Select User Profile -> Add Chacter</h2>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>            
          </div>
        </div>
      </div>

    </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
