{% extends "layouts/base.html" %}

{% block title %} User Blueprints {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        User Blueprints
      </div>
      <div class="card-body">
        <table id="ledger" class="display" style="width:100%">
          <tr>
            <th>Blueprint</th>
            <th>Character</th>
            <th>Location</th>
            <th>ME</th>
            <th>TE</th>
            <th>Runs</th>
          </tr>
        {% for row in data %}
          <tr>
            <td>{{ row['itemName'] }}</td>
            <td>{{ row['characterName'] }}</td>
            <td>{{ row['location_flag'] }}</td>
            <td>{{ row['material_efficiency'] }}</td>
            <td>{{ row['time_efficiency'] }}</td>
            <td>{{ row['runs'] }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript">
  $(document).ready( function () {
      $('table.display').DataTable( {
         "pageLength": 15
      });
  } );
</script>


  
{% endblock javascripts %}
